* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --background: rgb(232, 252, 252);
  --primary: #00adad;
  --button: linear-gradient(0deg, rgb(1, 116, 116) 0%, rgb(95, 253, 253) 100%);
  --shadow: 0 0 3px var(--primary);
}

body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 36px;
}

nav menu {
  list-style: none;
}

/* HEADER */

header {
  box-shadow: 0 0 3px var(--primary);
  color: var(--primary);
}

header form {
  width: fit-content;
  box-shadow: var(--shadow);
}

header form label {
  display: none;
}

header form input {
  padding: 0.3rem;
  outline: none;
  border: none;
}

header form button {
  border: none;
  background: var(--button);
  color: white;
  padding: 0.2rem;
  font-weight: bold;
}

header menu a {
  display: inline-block;
  font-size: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-size: contain;
}

header menu a[href*="wishlist"] {
  background-image: url("icons/heart.png");
}

header menu a[href*="cart"] {
  background-image: url("icons/cart.png");
}
header menu a[href*="profile"] {
  background-image: url("icons/user.png");
}

/* NAV*/

body > div nav menu li {
  width: 100%;
}

body > div nav menu a {
  text-align: center;
  color: var(--primary);
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5rem 0;
}

body > div nav menu a:hover {
  background: var(--background);
}

/* MAIN */

main {
  background: var(--background);
  padding: 1rem;
}

article {
  background: white;
  box-shadow: var(--shadow);
  width: 10rem;
  height: 20rem;
  border-radius: 10px;
  overflow: hidden;
}

article img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

article *:not(img) {
  margin: 0.5rem 1rem;
}

article p.price {
  text-align: right;
}

/* FOOTER */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer a {
  color: var(--primary);
  width: max-content;
}

/* MEDIA QUERY */
@media (min-width: 768px) {
  /* HEADER */

  body {
    position: relative;
    padding-bottom: 37px;
    min-height: 100vh;
  }

  header {
    display: flex;
    justify-content: space-around;
  }

  .flex-cont {
    display: flex;
  }
  .flex-cont nav li {
    display: flex;
  }

  .flex-cont main article {
    flex-direction: column;
  }

  /* NAV */

  body header nav menu li {
    display: inline;
    width: 20%;
    flex-direction: column;
  }
}

@media (min-width: 375px) {
  /* HEADER */

  body {
    position: relative;
    padding-bottom: 37px;
    min-height: 100vh;
  }

  /* NAV */

  body header nav menu li {
    display: inline;
  }

  .menu-categorias {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    display: flex;
    justify-content: top;
    align-items: center;
    min-height: 100vh;
    padding: 0px;
  }

  article {
    background: white;
    box-shadow: var(--shadow);
    width: 10rem;
    height: 20rem;
    border-radius: 10px;
    overflow: hidden;
  }
  nav menu {
    list-style: none;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

@media (min-width: 320px) {
  /* HEADER */

  body {
    position: relative;
    padding-bottom: 37px;
    min-height: 100vh;
  }

  /* NAV */

  body header nav menu li {
    display: inline;
  }

  .menu-categorias {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    min-height: 100vh;
  }

  article {
    background: white;
    box-shadow: var(--shadow);
    width: 10rem;
    height: 20rem;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem;
  }
  nav menu {
    list-style: none;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
