* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background-color: rgb(203, 241, 229);
  --morado_texto: rgb(171, 48, 219);
}

body {
  text-align: center;
}

nav menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

nav menu li {
  margin-left: 2rem;
  margin-right: 2rem;
  text-decoration: none;
  list-style-type: none;
}

nav menu li a {
  text-decoration: none;
  list-style-type: none;
  color: var(--morado_texto);
  text-shadow: 0.5px 0.5px rgb(51, 18, 82);
  font-family: Lobster, sans-serif;
}

article {
  display: flex;
  flex-direction: row;
  width: 45%;
  margin: 10% 30%;
}

img {
  border-radius: 50%;
  width: 16rem;
  box-shadow: 1px 0px 0px 0.5px rgb(160, 224, 240);
  margin-top: 1rem;
}

article h1 {
  font-size: 3rem;
  font-family: Lobster, sans-serif;
  margin-bottom: 0.5rem;
}

article h4 {
  margin: 0.2rem;
  font-weight: bolder;
  font-size: 110%;
}

p {
  margin: 0.6rem;
  font-size: 0.9rem;
  font-weight: 500;
  text-shadow: 0px 2px;
}
.curriculum {
  color: var(--morado_texto);
  text-shadow: 0px 0.8px;
}

footer {
  text-align: left;
}
