* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  
}

button {
  width: 5rem;
  height: 5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  
}

svg {
  fill: grey;
  
}

.like{
  
  animation-name: corazon;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes corazon{
  0%{
    
    transform: scale(1.2);
    fill: red;
    
  }
  30%{
    transform: scale(0.8);
    fill: red;
  }
  70%{
    transform: scale(1.2);
    fill: red;
  }
  100%{
    transform: scale(1);
    fill: red;
    
  }
  }


}